*,
html {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Inju;
    src: url(./fonts/inju.otf);
}

#logo {
    width: 10%;
    height: %;
    margin: 10px;
}

.line {
    border-bottom: 2px solid white;
    height: 0.4em;
    width: 1.5em;
}

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

.hamburger {
    background-color: #682F1C;
    border-radius: 70%;
    position: absolute;
    top: 0;
    right: 0;
    margin: .5em;
    padding: .5em;
}

img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}

#headerimg {
    padding-top: 30px;
}

h1,
h2,
p {
    font-family: Inju;
    color: #682F1C;
}

.thuisbezorging1, .thuisbezorging2 {
    font-size: 5em;
    text-transform: uppercase;
    display: flex;
    margin-left: 30px
}

.thuisbezorging1 {
    margin-top: 40px;
}

.thuisbezorging2 {
    margin-top: -30px;
    font-size: 3em;
}

#facebooklogo {
    position: absolute;
    width: 10%;
    height: 6%;
    margin-left: 15px;
}

#burgerkingnl {
    position: absolute;
    top: 235%;
    margin-left: 70px;
    color: white;
    font-family: sans-serif;
}

#instagramlogo {
    position: absolute;
    width: 10%;
    height: 6%;
    margin-left: 15px;
}

#burgerkinglink {
    position: absolute;
    top: 433%;
    margin-left: 70px;
    color: white;
    font-family: sans-serif;
}

#followus {
    background-color: #Ad8B7C;
    display: block;
    text-align: center;
    font-size: 1.5em;
}

#text-followus {
    padding: 30px 30px 0px 30px;
    color: white;
}

.socials {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-bottom: 30px;
    padding-top: 10px;
}

footer {
    margin: 40px;
}

.links li {
    list-style: none;
    margin: 10px;
}

.links li a {
    text-decoration: none;
    color: #Ad8B7C;
    font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 30%;
}



#thuisbezorgingimg {
    width: 50%;
    height: 50%;
}

.thuisbezorging {
    background-image: url(./images/thuisbezorging.jpg);
    width: 50%;
    background-size: cover
}

.thuisbezorging1 {
    top: 90%;
    left: 25%;
}

.thuisbezorging2 {
    top: 97%;
    left: 25%;
}

.bezorgingMybk {
    display: flex;
    list-style-type: none;
}

.bezorgingMybk li{
    width: 50%;
}

}
